nav{
    background-image: linear-gradient(to left bottom,#1975df,#1a65bb);
    border-bottom: 3px solid #124681;
    ul{
        &::after{
            content: "";
            display: table;
            clear: both;
        }
        &>li{
            &.logout{
                float: right;
            }
            &:hover .sub-menu{
                display: block;
            }
            position: relative;
            .sub-menu{
                position: absolute;
                left: 0;
                top: 4rem;
                width: 100%;
                width: 20rem;
                background:#1a65bb;
                display: none;
                z-index: 999;
                li{
                    width: 100%;
                }
            }
        }
        li{

            float: left;
            list-style: none;
            min-width: 60px;
            a{
                font-size: 1.4rem;
                color: #eee;
                text-decoration: none;
                line-height: 3rem;
                padding: .5rem 1.2rem;
                display: block;
                cursor: pointer;
                
            }
            &.active{
                background-color: #003f86;
            }
        }
    }
}